<html>
  <head>
  <title>Noom Warm Fuzzies</title>
  <head>
  <body style="width:100%;height:100%;overflow:hide;">
    <div style="display:table;margin:10px auto;">
    <form action='/api/praise' method=post>
      <textarea name="message" rows="24" cols="80"></textarea>
      <button style="display:block" type="submit" name="button">Submit</button>
    </form>
    </div>
  </body>
</html>
